apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: homeassistant
  labels:
    app: homeassistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      initContainers:
        - name: init-files
          image: busybox@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
          command: ['sh', '-c', 'touch /config/automations.yaml /config/scripts.yaml /config/scenes.yaml']
          volumeMounts:
            - name: config
              mountPath: /config
      containers:
        - image: ghcr.io/home-assistant/home-assistant@sha256:3e2dff545c46e91f4ab2b21597016011d76d0de58bc8eaf51d75e841f337bf88
          name: homeassistant
          ports:
            - containerPort: 8123
          volumeMounts:
            - name: config
              mountPath: /config
            - name: config-file
              mountPath: /config/configuration.yaml
              subPath: configuration.yaml
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: homeassistant-config-pvc
        - name: config-file
          configMap:
            name: homeassistant-config
