apiVersion: v1
kind: Service
metadata:
  name: snapcast
  namespace: snapcast
  labels:
    app: snapcast
  annotations:
    lbipam.cilium.io/ip-pool: home-c-pool
spec:
  type: LoadBalancer
  selector:
    app: snapcast
  ports:
    - name: stream
      port: 1704
      targetPort: 1704
      protocol: TCP
    - name: control
      port: 1705
      targetPort: 1705
      protocol: TCP
    - name: http
      port: 1780
      targetPort: 1780
      protocol: TCP
