apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia-stage
resources:
  - ../../base/authelia
  - httproute.yaml
  - secret-authelia.yaml
  - secret-users.yaml

labels:
  - pairs:
      env: staging
      app.kubernetes.io/instance: staging
    includeSelectors: false
configMapGenerator:
  - name: authelia-config
    namespace: authelia
    behavior: replace
    files:
      - configuration.yml
patches:
  - target:
      kind: Deployment
      name: authelia
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: authelia
      spec:
        template:
          spec:
            containers:
              - name: authelia
                securityContext:
                  readOnlyRootFilesystem: false
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                      - ALL
  - target:
      kind: Namespace
      name: authelia
    patch: |-
      - op: replace
        path: /metadata/name
        value: authelia-stage
      - op: add
        path: /metadata/labels/http-ingress
        value: "true"
