apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: adguard
  namespace: adguard
  labels:
    app.kubernetes.io/name: adguard
spec:
  serviceName: adguard-headless
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: adguard
  template:
    metadata:
      labels:
        app.kubernetes.io/name: adguard
    spec:
      terminationGracePeriodSeconds: 30
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: adguard
          image: adguard/adguardhome@sha256:4956b35b590286e5872fb4336d84a7862a2030c6efb4ca16442580c37d7ba32d
          envFrom:
            - configMapRef:
                name: adguard-container-env
            - secretRef:
                name: adguard-container-env-secret
          ports:
            - containerPort: 53
              name: dns
              protocol: UDP
            - containerPort: 53
              name: dns-tcp
              protocol: TCP
            - containerPort: 80
              name: http
            - containerPort: 443
              name: https
            - containerPort: 3000
              name: setup
          readinessProbe:
            httpGet:
              port: http
              path: /
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 20m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              add:
                - NET_BIND_SERVICE
              drop:
                - ALL
          volumeMounts:
            - mountPath: /opt/adguardhome/conf
              name: config
            - mountPath: /opt/adguardhome/work
              name: work

  volumeClaimTemplates:
    - metadata:
        name: config
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: synology-iscsi
        resources:
          requests:
            storage: 1Gi
    - metadata:
        name: work
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: synology-iscsi
        resources:
          requests:
            storage: 1Gi
