apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - namespace.yaml
  - service.yaml
  - configmap.yaml
  - database.yaml
  - secret-adguard-container-env.yaml
  - httproute.yaml
