apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
  labels:
    app: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      # App runs as node user, limits the scope of pods to the same user.
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000 # node user ID
        runAsGroup: 1000 # node group ID
        fsGroup: 1000 # node group ID
        seccompProfile:
          type: RuntimeDefault

      containers:
        - image: ghcr.io/advplyr/audiobookshelf@sha256:a52dc5db694a5bf041ce38f285dd6c6a660a4b1b21e37ad6b6746433263b2ae5
          name: audiobookshelf
          ports:
            - containerPort: 13378
          envFrom:
            - configMapRef:
                name: audiobookshelf-container-env
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: audiobookshelf-data
              mountPath: /usr/share/audiobookshelf/config
            - name: audiobookshelf-meta-data
              mountPath: /usr/share/audiobookshelf/metadata
      volumes:
        - name: audiobookshelf-data
          persistentVolumeClaim:
            claimName: audiobookshelf-data-pvc
        - name: audiobookshelf-meta-data
          persistentVolumeClaim:
            claimName: audiobookshelf-meta-data-pvc



