apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
  labels:
    app: audiobookshelf
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3005
      protocol: TCP
      targetPort: 13378
  selector:
    app: audiobookshelf
