apiVersion: apps/v1
kind: Deployment
metadata:
  name: memos
  namespace: memos
  labels:
    app: memos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: memos
  template:
    metadata:
      labels:
        app: memos
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault

      containers:
        - name: memos
          image: neosmemo/memos@sha256:6088f656db8ffa928338d174295b35403d7b7c0015dce93bbc8a48ceb6932362
          ports:
            - containerPort: 5230

          envFrom:
            - configMapRef:
                name: memos-container-env

          volumeMounts:
            - name: memos-data
              mountPath: /var/opt/memos

          resources:
            requests:
              cpu: 5m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL

      volumes:
        - name: memos-data
          persistentVolumeClaim:
            claimName: memos-data-pvc
