apiVersion: v1
kind: ConfigMap
metadata:
  name: memos-envoy-config
  namespace: memos
  labels:
    app: memos
data:
  envoy.yaml: |
    static_resources:
      listeners:
        - name: listener_0
          address:
            socket_address:
              address: 0.0.0.0
              port_value: 8080
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: ingress_http
                    codec_type: AUTO
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: backend
                          domains: ["*"]
                          routes:
                            # gRPC routes - use HTTP/2 backend
                            - match:
                                prefix: "/memos.api.v1."
                              route:
                                cluster: memos_grpc
                            - match:
                                prefix: "/grpc."
                              route:
                                cluster: memos_grpc
                            # All other routes - use HTTP/1.1 backend
                            - match:
                                prefix: "/"
                              route:
                                cluster: memos_http
                    http_filters:
                      - name: envoy.filters.http.grpc_web
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.grpc_web.v3.GrpcWeb
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      clusters:
        # HTTP/2 cluster for gRPC requests
        - name: memos_grpc
          connect_timeout: 5s
          type: STATIC
          lb_policy: ROUND_ROBIN
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          load_assignment:
            cluster_name: memos_grpc
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: 127.0.0.1
                          port_value: 5230
        # HTTP/1.1 cluster for web requests
        - name: memos_http
          connect_timeout: 5s
          type: STATIC
          lb_policy: ROUND_ROBIN
          load_assignment:
            cluster_name: memos_http
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: 127.0.0.1
                          port_value: 5230
    admin:
      address:
        socket_address:
          address: 127.0.0.1
          port_value: 9901
