apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: default
  # annotations:
  #   lbipam.cilium.io/sharing-key: homelab
  #   lbipam.cilium.io/sharing-cross-namespace: default,audiobookshelf,linkding,mealie,pihole
  labels:
    app.kubernetes.io/name: homepage
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 3001
      protocol: TCP
  selector:
    app.kubernetes.io/name: homepage