apiVersion: v1
kind: Service
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
  annotations:
    lbipam.cilium.io/sharing-key: homelab
    lbipam.cilium.io/sharing-cross-namespace: default,audiobookshelf,linkding,mealie,pihole
spec:
  type: ClusterIP
  selector:
    app: pihole
  ports:
  - name: admin
    port: 80
    protocol: TCP
