apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
  labels:
    app: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
          ports:
            - containerPort: 8096
              name: http

          env:
            - name: JELLYFIN_FFmpeg__probesize
              value: "50000000"
            - name: JELLYFIN_FFmpeg__analyzeduration
              value: "50000000"
          envFrom:
            - configMapRef:
                name: jellyfin-container-env

          volumeMounts:
            - name: jellyfin-config
              mountPath: /config
            - name: jellyfin-cache
              mountPath: /cache
            - name: dri
              mountPath: /dev/dri
            - name: movies
              mountPath: /media/movies
              readOnly: true
            - name: tvshows
              mountPath: /media/tvshows
              readOnly: true
            - name: tvanime
              mountPath: /media/tv-anime
              readOnly: true

          securityContext:
            privileged: true # Required for GPU access

          # Resource limits - generous for transcoding bursts
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              memory: 4Gi
              cpu: 4000m

      volumes:
        - name: jellyfin-config
          persistentVolumeClaim:
            claimName: jellyfin-config-pvc
        - name: jellyfin-cache
          persistentVolumeClaim:
            claimName: jellyfin-cache-pvc
        - name: dri
          hostPath:
            path: /dev/dri
            type: Directory
        - name: movies
          persistentVolumeClaim:
            claimName: jellyfin-movies-pvc
        - name: tvshows
          persistentVolumeClaim:
            claimName: jellyfin-tvshows-pvc
        - name: tvanime
          persistentVolumeClaim:
            claimName: jellyfin-tvanime-pvc
