apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - repository.yaml

configMapGenerator:
  - name: cert-manager-helm-values
    namespace: kube-system
    files:
      - values.yaml

configurations:
  - kustomizeconfig.yaml
