apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
  namespace: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      # App runs as www-data user, so limit
      # the scope of pods to the same user.
      securityContext:
        runAsUser: 33 # www-data user ID
        runAsGroup: 33 # www-data group ID
        fsGroup: 33 # www-data group ID

      containers:
        - name: linkding
          image: sissbruecker/linkding:latest
          ports:
            - containerPort: 9090

          # Options from https://linkding.link/options/
          env:
            - name: LD_SUPERUSER_NAME
              valueFrom:
                secretKeyRef:
                  name: linkding-superuser
                  key: username
            - name: LD_SUPERUSER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: linkding-superuser
                  key: password

          volumeMounts:
            - name: linkding-data
              mountPath: /etc/linkding/data

          securityContext:
            allowPrivilegeEscalation: false

      # TODO upgrade this to a postgres backed
      # DB instead of a PV
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc