theme: dark

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

authentication_backend:
  file:
    path: /config/users.yml
    watch: true

access_control:
  default_policy: deny
  rules:
    - domain: "auth.burntbytes.com"
      policy: bypass
      resources:
        - "^/api/oidc/.*$"
    - domain: "auth.burntbytes.com"
      policy: one_factor

session:
  name: authelia_session
  domain: burntbytes.com
  same_site: lax
  expiration: 1h
  inactivity: 15m
  remember_me: 30d

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    jwks:
      - key: |
          {{ env "OIDC_JWKS_KEY" | nindent 14 }}
        algorithm: RS256
    lifespans:
      access_token: 1h
      id_token: 1h
      refresh_token: 720h
    clients:
      - client_id: immich
        client_name: Immich
        client_secret: '$pbkdf2-sha512$310000$Q2PRVprqZKZs3gBHvg1PQw$aAXPNqvWzBMX1Nw.f3yzJKMnqpVTbogvOGxUYarD6V3zrqQj84A21QjCmbdJwF3gSM91vKlAYsP8rO0aiLHreg'
        public: false
        authorization_policy: two_factor
        token_endpoint_auth_method: client_secret_post
        redirect_uris:
          - app.immich:///oauth-callback
          - https://photos.burntbytes.com/auth/login
          - https://photos.burntbytes.com/user-settings
        scopes:
          - email
          - openid
          - profile
        userinfo_signed_response_alg: none
      - client_id: mealie
        client_name: Mealie
        client_secret: '$pbkdf2-sha512$310000$12BKlQUaHPemvEEJvSwUcg$zkxW/lBSAq9qOUFRmJtj5/biYyKLTMDrCLR/lVcJU7keEhyN.JK1wGY/00QHO2n/rcmP8NT9mR1TA8a9n48v8g'
        public: false
        authorization_policy: two_factor
        token_endpoint_auth_method: client_secret_basic
        redirect_uris:
          - https://mealie.burntbytes.com/login
          - https://mealie.burntbytes.com/login?direct=1
        scopes:
          - email
          - groups
          - openid
          - profile
        userinfo_signed_response_alg: none
