apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia-prod
resources:
  - ../../base/authelia
  - httproute.yaml
  - secret-authelia.yaml
  - secret-users.yaml
  - secret-db-credentials.yaml
  - database.yaml

labels:
  - pairs:
      env: production
      app.kubernetes.io/instance: production
    includeSelectors: false

patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: authelia
  - target:
      kind: Namespace
      name: authelia
    patch: |-
      - op: replace
        path: /metadata/name
        value: authelia-prod
  - target:
      kind: ConfigMap
      name: authelia-config
    patch: |-
      - op: replace
        path: /data/configuration.yml
        value: |
          theme: dark

          server:
            address: tcp://0.0.0.0:9091

          log:
            level: info

          authentication_backend:
            file:
              path: /config/users.yml
              watch: true

          access_control:
            default_policy: deny
            rules:
              - domain: "auth.burntbytes.com"
                policy: bypass
                resources:
                  - "^/api/oidc/.*$"
              - domain: "auth.burntbytes.com"
                policy: one_factor

          session:
            name: authelia_session
            domain: burntbytes.com
            same_site: lax
            expiration: 1h
            inactivity: 15m
            remember_me: 30d

          storage:
            postgres:
              host: authelia-db-prod-cnpg-v1-rw
              port: 5432
              database: authelia
              username: authelia
              # password loaded from env AUTHELIA_STORAGE_POSTGRES_PASSWORD

          notifier:
            filesystem:
              filename: /config/notification.txt

          identity_providers:
            oidc:
              issuer: https://auth.burntbytes.com
              lifespans:
                access_token: 1h
                id_token: 1h
                refresh_token: 720h
              clients: []
