apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia-prod
resources:
  - ../../base/authelia
  - httproute.yaml
  - secret-authelia.yaml
  - secret-users.yaml

labels:
  - pairs:
      env: production
      app.kubernetes.io/instance: production
    includeSelectors: false
patches:
  - target:
      kind: Namespace
      name: authelia
    patch: |-
      - op: replace
        path: /metadata/name
        value: authelia-prod
      - op: add
        path: /metadata/labels/http-ingress
        value: "true"
  - target:
      kind: ConfigMap
      name: authelia-config
    patch: |-
      - op: replace
        path: /data/configuration.yml
        value: |
          theme: dark

          server:
            address: tcp://0.0.0.0:9091

          log:
            level: info

          authentication_backend:
            file:
              path: /config/users.yml
              watch: true

          access_control:
            default_policy: deny
            rules:
              - domain: "auth.burntbytes.com"
                policy: bypass
                resources:
                  - "^/api/oidc/.*$"
              - domain: "auth.burntbytes.com"
                policy: one_factor

          session:
            name: authelia_session
            domain: burntbytes.com
            same_site: lax
            expiration: 1h
            inactivity: 15m
            remember_me: 30d

          storage:
            local:
              path: /config/db.sqlite3

          notifier:
            filesystem:
              filename: /config/notification.txt

          identity_providers:
            oidc:
              jwks:
                - key: |
                    {{ env "OIDC_JWKS_KEY" | nindent 20 }}
                  algorithm: RS256
              lifespans:
                access_token: 1h
                id_token: 1h
                refresh_token: 720h
              clients:
                - id: immich
                  description: Immich
                  secret: '{{ env "IMMICH_OIDC_CLIENT_SECRET" }}'
                  public: false
                  authorization_policy: two_factor
                  redirect_uris:
                    - https://photos.burntbytes.com/auth/login
                    - app.immich:///oauth-callback
                  scopes:
                    - openid
                    - profile
                    - email
                  userinfo_signing_algorithm: none
