apiVersion: apps/v1
kind: Deployment
metadata:
  name: authelia
spec:
  template:
    spec:
      containers:
        - name: authelia
          env:
            - name: AUTHELIA_STORAGE_POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: authelia-db-credentials
                  key: password
